* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Roboto, 'Open Sans', 'Helvetica Neue';
}

.container {
    padding: 10px 5%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cards {
    @include grid(3);
    gap: 1.5em;

    .card {
        .image {
            width: 100%;
            height: 200px;
            
            img {
                border-radius: 8px;
            }
        }

        .text {
            padding: 0 6px;
            margin: 0.5em 0 0;
            
            .extra_details {
                display: flex;
                flex-wrap: wrap;
                gap: 0.8em;
                margin: 0 0 0.5em;

                span {
                    font-size: 0.8em;
                }
            }

            .details {
                display: grid;
                gap: 0.5em;

                .title {
                    text-decoration: none;
                    color: $dark_text;
                    font-size: 1.12em;
                    font-weight: bold;
                }
            }
        }
    }
}
