footer {
    padding: 16px 0 0;
    background: $theme-1;
    color: $text-color;

    .container {
        a {
            text-decoration: none;
            color: $text-color;
        }
    
        div {
            margin: 0 0 1em;
        }

        .branding {
            .image {
                width: 100px;
                height: 100px;
                margin: 0 auto 0.5em;
                padding: 8px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            h1 {
                font-size: 1.25em;
                text-transform: uppercase;
                margin: 0.5em 0;
            }
        }
    
        .links {
            display: grid;
            gap: 0.5em;
        }

        .socials {
            a {
                img {
                    width: 20px;
                    margin-right: 10px;
                }
            }
        }
    }

    .copyright {
        text-align: center;
        border-top: 1px solid grey;
        padding: 8px;
    }
}

@media screen and (width >= 726px) {
    footer {
        .container {
            display: grid;
            grid-template-columns: 30% 1fr 1fr;
            justify-items: center;

            .branding {
                text-align: center;
            }

            .links {
                gap: 0.2em;
            }
        }
    }
}