.About_Page {
    .title {
        font-size: 1.2em;
    }

    .Intro {
        p {
            margin: 0 0 0.4em;
        }
    }

    .Mission_Vision {
        .statements {
            @include grid(2);
            gap: 2em;
        }
    }

    .Work_Process {
        .processes {
            @include grid(4);

            .process {
                .icon {
                    font-size: 2.4em;
                }
            }
        }
    }
}