$aside_width: 15%;
$thead_background: #000;

.Admin {
    aside {
        width: $aside_width;
    }

    .admin_content {
        margin-left: $aside_width;
        padding: 4px 15px;

        .header {
            @include grid(3);
            align-items: center;
            margin: 0 0 0.8em;

            p {
                font-size: 1.1em;
                color: $text_faded;

                span {
                    font-size: 0.85em;
                }
            }

            input {
                padding: 6px 12px;
                border-radius: 32px;
                border: 1px solid $faded;
            }

            .header_btn {
                a {
                    text-decoration: none;
                    background: #000;
                    color: #fff;
                    padding: 4px 8px;
                    border-radius: 4px; 
                }
            }
        }

        .body {
            overflow: scroll;

            .table {
                width: 100%;
                border-spacing: 0;
                border-collapse: collapse;

                thead {
                    color: #fff;
                    background: $thead_background;

                    th {
                        padding: 6px;
                        font-size: 0.9em;
                        text-align: left;

                        &:last-of-type {
                            border-radius: 0 8px 0 0;
                        }
                        &:first-of-type {
                            border-radius: 8px 0 0 0;
                        }
                    }
                } 
                
                tbody {
                    tr {
                        border-bottom: 1px solid lighten($faded, 25);

                        td {
                            padding: 2px 6px;

                            a {
                                color: blue;
                                text-decoration: none;
                            }

                            .td_span {
                                padding: 2px 6px;
                                font-size: 0.65em;
                                font-weight: bold;
                                border-radius: 32px;
                                background: $dashboard_background;
                            }
                        }

                        .actions {
                            display: flex;
                            justify-content: center;
                            gap: 0 2em;
                        }
                    }
                }
            }
        }

        .custom_form {
            form {
                padding: 15px;
                border: 1px solid lighten($faded, 20);
                border-radius: 0 0 6px 6px;
            
                &:not(:first-of-type) {
                    margin: 2.5em 0 0;
                    border-radius: 6px;
                }
            }
        }

        .delete_btn {
            margin: 0.5em 0 0;
        }
    }
}


@media screen and (width >= 726px) {
    .Admin {
        .admin_content {
            .header {
                .header_btn {
                    justify-self: right;
                }
            }

            .body {
                overflow: hidden;
            }

            .custom_form {
                width: 88%;
                margin: auto;
            }
        }
    }
}