.General {
    section {
        &:not(:last-of-type) {
            margin: 0 0 5em;
        }

        h2 {
            font-size: 2.4em;
            margin: 0 0 0.8em;
            text-align: center;
        }

        .button_link {
            margin: 3em 0 0;

            a {
                border-radius: 32px;
                padding: 16px 28px;
                font-size: 1.2em;
                box-shadow: 2px 2px 4px $text_faded;
            }
        }
    }

    .Jumbotron {
        @include flex_center;
        height: 20dvh;
        margin: unset !important;

        .container {
            text-align: center;
            
            .navigation {
                margin: 0.4em 0;
    
                span {
                    font-weight: bold;
                }
            }
        }
    }
    
    .Team {
        .members {
            display: grid;
            gap: 1em;
            justify-items: center;
    
            .member {
                .image {
                    width: 300px;
                    height: 300px;
    
                    img {
                        border-radius: 8px;
                    }
                }
    
                .text {
                    text-align: center;
                    
                    .title {
                        font-weight: bold;
                        font-size: 1.2em;
                        margin: 0.5em 0 0;
                    }
                }
            }
        }
    }
    
    .CTA {
        background: $text_color;
        padding: 5em 5%;
        *{color: $light_text}
    
        .title {
            @include font_size(1.6em, 2em);
            margin: 0 0 0.4em;
        }
    
        a {
            background: $theme_1;
            color: $text_color;
        }
    }
}

@media screen and (width >=726px) {
    .General {
        .Jumbotron {
            height: 30dvh;
        }
        
        .Team {
            .members {
                grid-template-columns: 1fr 1fr;
            }
        }
    
        .CTA {
            .container {
                .ctas {
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    gap: 2em;
                    align-items: center;
    
                    .cta {
                        &:last-of-type {
                            text-align: center;
                        }
                    }
    
                    .button_link {
                        margin: unset;
                    }
                }
            }
        }
    }
}