.Home_Page {
    section {
        &:not(:last-of-type) {
            margin: 0 0 5em;
        }

        h2 {
            font-size: 2em;
            margin: 0 0 0.8em;
            text-align: center;
        }

        .button {
            margin: 3em 0 0;

            a {
                border-radius: 32px;
                padding: 16px 28px;
                font-size: 1.2em;
                box-shadow: 2px 2px 4px $text_faded;
            }
        }
    }

    .Hero {
        @include flex_center;
        height: 50dvh;

        .text {
            h1 {
                @include font_size(1.6em, 3.2em);
            }

            p {
                margin: 1.2em auto;
            }
        }
    }

    .Services {
        .container {
            .services {
                .service {
                    display: grid;
                    gap: 0.3em;
                    padding: 1.5em 0.2em;
                    border-bottom: 1px solid $faded_line;

                    span:nth-of-type(2) {
                        font-weight: bold;
                        font-size: 1.2em;
                    }
                }
            }
        }
    }

    .About_Us {
        .container {
            .abouts {
                .about {
                    padding: 16px 16px;
                    display: grid;
                    border: 1px solid $text_color;
                    margin: 0 0 1.5em;
                    border-radius: 8px;
                    box-shadow: 2px 2px 4px $text_faded;

                    &:hover {
                        box-shadow: unset;
                        transition: all 0.2s ease-in-out;
                    }
                    
                    span {
                        &:first-of-type {
                            font-weight: bold;
                            margin: 0 0 0.3em;
                        }
                    }
                }
            }
        }
    }

    .Team {
        .members {
            display: grid;
            gap: 1em;
            justify-items: center;

            .member {
                .image {
                    width: 300px;
                    height: 300px;

                    img {
                        border-radius: 8px;
                    }
                }

                .text {
                    text-align: center;
                    
                    .title {
                        font-weight: bold;
                        font-size: 1.2em;
                        margin: 0.5em 0 0;
                    }
                }
            }
        }
    }

    .CTA {
        background: $text_color;
        padding: 5em 5%;
        *{color: $light_text}

        .title {
            @include font_size(1.6em, 2em);
            margin: 0 0 0.4em;
        }

        a {
            background: $theme_1;
            color: $text_color;
        }
    }
}

@media screen and (width >= 726px) {
    .Home_Page {
        .Hero {
            height: 80dvh;

            .text {
                width: 80%;
                margin: auto;
                text-align: center;

                p {
                    font-size: 1.6em;
                    width: 70%;
                }
            }
        }

        .Services {
            .container {
                .services {
                    .service {
                        grid-template-columns: 5% 1fr 1fr;
                        gap: 2em;
                    }
                }
            }
        }

        .About_Us {
            .container {
                .abouts {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 2em;
                    align-items: flex-start;
                    align-content: flex-start;
                }
            }
        }

        .Team {
            .members {
                grid-template-columns: 1fr 1fr;
            }
        }

        .CTA {
            .container {
                .ctas {
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    gap: 2em;
                    align-items: center;

                    .cta {
                        &:last-of-type {
                            text-align: center;
                        }
                    }

                    .button {
                        margin: unset;
                    }
                }
            }
        }
    }
}