.Home_Page {
    .Hero {
        @include flex_center;
        height: 50dvh;

        .text {
            h1 {
                @include font_size(1.6em, 3.2em);
            }

            p {
                margin: 1.2em auto;
            }
        }
    }

    .Services {
        .container {
            .services {
                .service {
                    display: grid;
                    gap: 0.3em;
                    padding: 1.5em 0.2em;
                    border-bottom: 1px solid $faded_line;

                    span:nth-of-type(2) {
                        font-weight: bold;
                        font-size: 1.2em;
                    }
                }
            }
        }
    }

    .About_Us {
        .container {
            .abouts {
                .about {
                    padding: 16px 16px;
                    display: grid;
                    border: 1px solid $text_color;
                    margin: 0 0 1.5em;
                    border-radius: 8px;
                    box-shadow: 2px 2px 4px $text_faded;

                    &:hover {
                        box-shadow: unset;
                        transition: all 0.2s ease-in-out;
                    }
                    
                    span {
                        &:first-of-type {
                            font-weight: bold;
                            margin: 0 0 0.3em;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (width >= 726px) {
    .Home_Page {
        .Hero {
            height: 90dvh;

            .text {
                width: 80%;
                margin: auto;
                text-align: center;

                p {
                    font-size: 1.6em;
                    width: 70%;
                }
            }
        }

        .Services {
            .container {
                .services {
                    .service {
                        grid-template-columns: 5% 1fr 1fr;
                        gap: 2em;
                    }
                }
            }
        }

        .About_Us {
            .container {
                .abouts {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 2em;
                    align-items: flex-start;
                    align-content: flex-start;
                }
            }
        }
    }
}