.Services_Page {
    .Services {
        .container {
            .services {
                .service {
                    display: grid;
                    gap: 0.3em;
                    padding: 1.5em 0.2em;
                    border-bottom: 1px solid $faded_line;
    
                    span:nth-of-type(2) {
                        font-weight: bold;
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}

@media screen and (width >= 726px) {
    .Services_Page {
        .Services {
            .container {
                .services {
                    .service {
                        grid-template-columns: 5% 1fr 1fr;
                        gap: 2em;
                    }
                }
            }
        }
    }
}